REACT_APP_SOCKET_ENDPOINT=http://localhost:3000

REACT_APP_BACKENDAPI=http://localhost:3000
REACT_APP_FRONTENDAPI=http://localhost:3001

REACT_APP_42API_AUTHURL=https://api.intra.42.fr/oauth/authorize
REACT_APP_42API_TOKENURL=https://api.intra.42.fr/oauth/token
REACT_APP_42API_CLIENTID=
REACT_APP_42API_CLIENTSECRET=
REACT_APP_42API_LOGINURL=
